$back-color:#17242D;

//Primary color
$yellow:#F8BE0E;
$yellow-light:#FECD3A;
$yellow-dark:#DDA809;

//Black and Gray Color

$black:#232224;
$black-light:#FBFAF7;
$black-dark:#D5D3D0;

$gray1:#737373;
$gray2:#A6A6A7;

//Gradient
$grad1:linear-gradient(0deg, #DDA809 0%, #FECD3A 100%);
$grad2:linear-gradient(0deg, #687E29 0%, #92A758 100%);


//Shadow
$shadow1:  0px 42px 60px rgba(254, 205, 58, 0.15), 0px 12.6618px 18.0882px rgba(254, 205, 58, 0.0977383), 0px 5.25905px 7.51293px rgba(254, 205, 58, 0.075), 0px 1.9021px 2.71728px rgba(254, 205, 58, 0.0522617);

$shadow2:0px 66px 128px rgba(12, 20, 26, 0.41), 0px 19.8971px 38.5883px rgba(12, 20, 26, 0.267151), 0px 8.26422px 16.0276px rgba(12, 20, 26, 0.205), 0px 2.98901px 5.79686px rgba(12, 20, 26, 0.142849);

